:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: inherit;
  
  svg {
    width: 100%;
    height: 100%;
    display: block;
  }
}

