/* Styles */
$a-16181-e-background: #16181e;
$a-16181-e-color: #16181e;
$a-21242-d-background: #21242d;
$a-21242-d-color: #21242d;
$f-9-f-9-f-9-background: #f9f9f9;
$f-9-f-9-f-9-color: #f9f9f9;
$a-00-b-9-ae-background: #00b9ae;
$a-00-b-9-ae-color: #00b9ae;
$low-op-titles-background: #f9f9f9aa;
$low-op-titles-color: #f9f9f9aa;
$low-op-btn-background: #f9f9f933;
$low-op-btn-color: #f9f9f933;
$descriptions-background: #f9f9f9b2;
$descriptions-color: #f9f9f9b2;
$border-background: #f9f9f919;
$border-color: #f9f9f919;
